.container{
    /* background-color: rgb(211, 148, 66); */
    width: 500px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 10px;
    /* outline: 2px solid black; */
}
.logo1{
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 55px;
    margin-top: 50px;
}
.slack{
    width: 50px;
    height: 55px;

}
.container1{
    /* outline: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    height: 500px;
    
}
.title1{
    /* outline: 2px solid rgb(89, 0, 255); */
    align-self: center;
    height: 40px;
    
}
.title2{
    align-self: center;
    /* outline: 2px solid rgb(89, 0, 255); */
    height: 20px;
    margin-bottom: 45px;
   
}

.google{
    height: 20px;
    width: 20px;
    margin-right: 9px;
    align-self: center;
    margin-left: 70px;
    /* outline: 2px solid green; */
    
}
.button1{
    display: flex;
    background-color: white;
    border-radius: 3px;
    align-self: center;
    margin-bottom: 15px;

    
}
.button2{
    display: flex;
    background-color: white;
    border-radius: 3px;
    align-self: center;

    
}

h5{
    opacity: 0.7;
}
h1{
    opacity: 0.9;
}
h4{
    margin-right: 70px;
    /* outline: 2px solid gray; */
    margin-top:5px ;
    margin-bottom:5px ;
    align-self: center;
}
.button2 h4{
      margin-right: 80px;
}
.container2{
     display: flex;
     /* outline: 2px solid black; */
     align-self: center;
     margin-top: 5px;
}
.line1{
    width: 135px;
    height: 15px;
    /* background-color: aqua; */
    border-bottom: 2px solid black;

}
.line2{
    width: 135px;
    height: 15px;

    /* background-color: blueviolet; */
    border-bottom: 2px solid black;
}
.text{
    /* background-color: blue; */
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.inputcont1{
    /* outline: 2px solid green; */
    margin-left:100px ;
    margin-right: 100px;
    margin-top: 15px;
}
.input1{
    width: 295px;
}
.button3{
    align-self: center;
    width: 305px;
    height: 25px;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    background-color: rgb(76, 51, 99);
    padding-left: 60px;
}
.button3 h4{
     color: rgb(255, 255, 255);
}
section{
    width: 305px;
    /* outline: 1px solid black; */
    margin-top: 20px;
    height: fit-content;
    align-self: center;
    display: flex;
    background-color: hwb(0 65% 32% / 0.455);
    border-radius: 8px;
}
footer{
    display: flex;
    align-self: center;
}
p{
    margin-left: 10px;
    font-size: 14px;
}